fastapi
uvicorn
openai
langchain 
langchain-community
langchain-openai
python-dotenv
tiktoken
faiss-cpu
langchain-text-splitters
spacy==3.6.1
spacy-langdetect
es-core-news-md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.6.0/es_core_news_md-3.6.0-py3-none-any.whl
